body {
   padding-top: 5rem;
   list-style: none !important;
}

.starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
}

.navbar-brand {
   margin: auto;
   font-size: 3em;
   color: white;
}

.container {
   margin-top: 50px !important;
}

#zoneSaisie {
   text-align: center;
   font-size: 2em;
   font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

.Affichage {
   text-align: center;
   line-height: 25px;
   font-size: 1.5em;
   font-family: 'ZCOOL QingKe HuangYou', sans-serif;
   
}

#clvdigit1 {
   margin-left: 0;
   width: 40%;
}

.btn-outline-primary {
   margin: 5px;
}

#clvact1 {
   width: 20%;
   padding: 5px;
}

.cl_moins,
.cl_reset {
   margin-top: 34px;
}

#zoneOperations {
   width: 35%;
   margin-left: 20px;
   border: 1px #b3b6bb solid;
}
ul{
   list-style-type:none;
   padding-left: 0;
   font-family: 'Open Sans', sans-serif;
   text-align: left;
}
footer{
   margin-top: 50px;
}
.modal-body{
   margin-bottom: 0;
}